<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-lessons-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Lessons
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-lessons-link">
                <a href="{% url 'lessons' 'lesson' %}" class="dropdown-item">Hourly</a>
                <a href="{% url 'lessons' 'block'%}" class="dropdown-item">Blocks</a>
                <a href="{% url 'lessons' 'intensive' %}" class="dropdown-item">Intensive</a>
                <a href="{% url 'all_lessons' %}" class="dropdown-item">All Lessons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="our-company-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Company
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-company-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Areas Covered</a>
                <a href="" class="dropdown-item">Our Cars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="learn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn To Drive
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="learn-link">
                <a href="" class="dropdown-item">Guide To Theory Test</a>
                <a href="" class="dropdown-item">Guide To Practical Driving Test</a>
                <a href="" class="dropdown-item">Guide To Pass Plus</a>
            </div>
        </li>

    </ul>
</div>
