<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Lessons
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Lessons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hourly-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hourly
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hourly-link">
                <a href="" class="dropdown-item">1 Hour</a>
                <a href="" class="dropdown-item">1.5 Hours</a>
                <a href="" class="dropdown-item">2 Hours</a>
                <a href="" class="dropdown-item">All Hourly</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="blocks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blocks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blocks-link">
                <a href="" class="dropdown-item">5 Hour Block</a>
                <a href="" class="dropdown-item">10 Hour Block</a>
                <a href="" class="dropdown-item">All Blocks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Intensive Course
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Novice</a>
                <a href="" class="dropdown-item">Intermediate</a>
                <a href="" class="dropdown-item">Advnaced</a>
                <a href="" class="dropdown-item">All Courses</a>
            </div>
        </li>
    </ul>
</div>
