<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-lessons-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Lessons
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-lessons-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="{% url 'lessons' %}" class="dropdown-item">All Lessons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hourly-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hourly
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hourly-link">
                <a href="" class="dropdown-item">1 Hour</a>
                <a href="" class="dropdown-item">2 Hours</a>
                <a href="" class="dropdown-item">3 Hours</a>
                <a href="" class="dropdown-item">4 Hours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="block-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blocks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="block-link">
                <a href="" class="dropdown-item">5 Hour Block</a>
                <a href="" class="dropdown-item">10 Hour Block</a>
                <a href="" class="dropdown-item">15 Hour Block</a>
                <a href="" class="dropdown-item">20 Hour Block</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="intensive-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Intensive Course
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="intensive-link">
                <a href="" class="dropdown-item">Novice</a>
                <a href="" class="dropdown-item">Intermediate</a>
                <a href="" class="dropdown-item">Advnaced</a>
                <a href="" class="dropdown-item">Refresher</a>
            </div>
        </li>
    </ul>
</div>
