{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6  col-lg-4 offset-lg-2">
                <div class="image-container my5">
                    {% if intensive.intensive_image %}
                            <img class="card-img-top img-fluid image" src="{{ MEDIA_URL }}{{ intensive.intensive_image }}" alt="{{ intensive.intensive_name }}">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{ intensive.intensive_image_url }}" alt="{{ intensive.intensive_name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6  col-lg-4">
                <div class="intensive-info-container mb-5 mt-md-5">
                    <p class="mb-0">{{ intensive.intensive_name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ intensive.intensive_price }}</p>
                    <p class="mt-3">{{ intensive.intensive_description }}</p>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}
